body{
    background: linear-gradient(90deg, rgba(145,73,194,1) 0%, rgba(9,121,101,1) 100%, rgba(5,48,56,1) 100%);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

#p_botao_verificar {
    text-align: center;
}

#botao_verificar {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 40px;
    width: 250px;
    font-size: 20px;
    border-color: rgba(145,73,194,1);
}

#botao_verificar:hover {
    background-color: rgb(90deg, rgba(145,73,194,1) 0%, rgba(9,121,101,1) 100%, rgba(5,48,56,1) 100%);
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
    transition: all 0.5s;
}

#botao_nasc {
    height: 20px;
    width: 250px;
    border-radius: 10px;
    border-color:rgba(9,121,101,1);
}

footer { 
    color: white;
    text-align: center;
}